.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  height: 500px;
  margin: 100px auto;
  /* border: 1px solid; */
  padding: 10px;
  padding-left: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.map_container {
  width: 500px;
  height: 350px;
  margin: auto;
}

.App_Map {
  height: max-content;
}

.Section_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forex_container {
  margin-top: 1rem;
  display: inline-block;
  /* border: 1px solid; */
  width: 370px;
  margin: auto;

}

.forex_container table {
  width: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: .2rem;
  height: 120px;
}

.forex_container table th {
  text-align: center;
  font-size: 15px;
}

.forex_container table td {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.forex_container table tr th:nth-child(1),
.forex_container table tr td:nth-child(1) {
  width: 180px;
  text-align: left;
}

.forex_container table tr th:nth-child(3),
.forex_container table tr td:nth-child(3) {
  transform: translateX(10px);
}


.Percent_Posve {
  color: #62e03c;
}

.Percent_Negve {
  color: #cf3636;
}

@media screen and (max-width:950px) {
  .App {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: max-content;
    height: auto;
  }

  .map_container {
    width: 90vw;
    height: 400px;
  }

  .Section_2 {
    margin-bottom: 100px;
  }

  .Section_1 {
    width: max-content;
    margin: auto;
    padding: 10px;
  }
}


@media screen and (max-width:400px) {

  .forex_container {
    width: 280px;
  }
}